html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}
body {
  background-image: 'images/sky0.jpeg';
  background-repeat: no-repeat;
  background-size: cover;
}
.box-description {
    float: left;
    width: 20%;
    margin-left: 10px;
    margin-right: 2.5%;
    margin-top: 2%;
    /* padding: 5px; */
    vertical-align: top;
    font-size: 1vw;
}

.box-video {
    position: relative;
    float: right;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-top: 50px;
}
.box-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box-zine {
    position: relative;
    float: right;
    width: 100%;
    height: 0;
    padding-top: 70%;
}
.box-zine iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 76%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
}
li {
  font-size: 12pt;
 display: inline;
 float: left;
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
li a:hover {
  background-color: #111;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
div.descr {
  font-size: 12pt;
  width: 50%;
  float: center;
  text-align: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
}
.logo {
  width: 100%;
  float: center;
  margin: auto;
}
