body {
  font-family: 'Lato', sans-serif;
  background: #000000;
  color: #f1f1f1;
}

 /* unvisited link */
a:link {
  color:  #ab85ac;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #eabaeb;
  text-decoration: none;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay h1 {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
}

.overlay h2 {
  font-size: 24px;
  color: #818181;
}

.overlay a:hover, .overlay a:focus {
  color: rgb(190,190,190);
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
    font-size: 60px;
}

.box-main {
	display: flex;
	flex-direction: row;
	transition: margin-left .5s;
}

.tabcontent {
    height: 100px;
    text-align: center;
    font-size: 20px;
    height: 100%;
    width: 100%;
    background: #000000;
    color: #f1f1f1;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}
main {
    position: absolute;
    z-index: 99;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.main-archive {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.email {
    position: relative;
    text-align: center;
    height: auto;
    object-fit: contain;
    font-color: #f1f1f1;
}
.fullscreen-video {
	position: fixed;
	overflow: hidden;
	top: 50%;
	left: 50%
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: TranslateX(-50%) TranslateY(-50%);
	z-index: -10;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about {
    width: 70%;
    height: auto;
    text-align: left;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    font-color: white;
    font-size: 20px;
}

.box-main {
    display: flex;
    flex-direction: row;
    transition: margin-left .5s;
}

.box-description {
    padding-top: 6%;
    margin-left: 1ex;
    margin-right: 3ex;
    width: 20%;
}

.pieceDescription {
    width: 50%;
    height: auto;
    object-fit: contain;
    padding: 10%;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    font-color: #FFFFFF;
}

.box-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.box-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*
.box-video {
    display: block;
    justify-content: center; 
}
.box-video iframe {
    width: 540px;
    heigth: 315px;
    display: block;
    margin: auto;
}*/

.logo-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo-banner>* {
    flex: 0 0 16%;
}

.logo-banner {
    flex-direction: row;
}

img.logo {
    width: 3cm;
    height: auto;
    object-fit: contain;
    padding: 2%;
}

.box-zine {
    position: relative;
    /* float: right; */
    width: 100%;
    height: 0;
    padding-top: 70%;
}

.box-zine iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 50%;
        float: center;
    }

    .main-archive {
        width: 80%;
        padding: 0;
    }

    .home {
        width: 100%;
    }
  
    .news {
        width: 100%;
    }
    .about {
        width: 100%;
        font-size: 15px;
    }   
    .logo-banner {
        flex-direction: row;
    }

    img.logo {
        width: 16%;
    }

    .box-description, .main-archive, .main {
        width: 100%;
    }

    .box-main {
        flex-direction: column-reverse;
        transition: margin-left .5s;
    }

    .logo-banner {
        flex-direction: column;
    }

    img.logo {
        float: center;
        width: 80%;
    }

    .pieceDescription {
        width: 80%;
        height: auto;
        object-fit: contain;
        padding: 10%;
        align-items: left;
        margin-left: auto;
        margin-right: auto;
        font-color: #FFFFFF;
    }
}
